body,html{
	line-height:1;
	margin:0;
	user-select:none;
	-webkit-tap-highlight-color: transparent;
	height: 100%;
}
h1,h2,h3,h4,h5,p {
	margin: 0;
}
input {
	border: none;
}
ul {
	margin: 0;
	padding:0;
	list-style: none;
}
.clearFix {
	content:'';
	display: block;
	clear:both;
}